* {
  font-family: "Josefin Sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style: none;
}
body .header {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
}
@media (max-width: 800px) {
  body .header {
    padding: 1.1rem;
  }
}
body .header__brand {
  color: #fff;
  font-size: 3rem;
}
body .header__navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  body .header__navbar ul {
    display: none;
  }
}
body .header__navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
body .header__navbar ul li .active {
  color: #5E17EB;
}
body .header__navbar ul li a:hover {
  color: #5E17EB;
}
body .header--social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 800px) {
  body .header--social-media ul {
    display: none;
  }
}
body .header--social-media ul li {
  margin: 0 1rem;
}
body .header--social-media ul li a:hover {
  color: #fff;
}
body .gallery {
  max-width: 1170px;
  padding: 1.5rem 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 800px) {
  body .gallery {
    flex-direction: column;
  }
}
body .gallery__card {
  width: 31%;
  height: 400px;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
@media (max-width: 800px) {
  body .gallery__card {
    width: 90%;
    margin-bottom: 6%;
  }
}
body .gallery__card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
body .gallery__card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body .gallery__card-btn:hover {
  background: #fff;
  color: #000;
}
body .gallery #card-1 {
  background-image: url("../img/capita.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-1:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/capita.jpg");
}
body .gallery #card-2 {
  background-image: url("../img/moonknight.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-2:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/moonknight.jpg");
}
body .gallery #card-3 {
  background-image: url("../img/loki.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-3:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/loki.jpg");
}
body .gallery #card-4 {
  background-image: url("../img/wakanda.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-4:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wakanda.jpg");
}
body .gallery #card-5 {
  background-image: url("../img/wanda.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-5:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/wanda.jpg");
}
body .gallery #card-6 {
  background-image: url("../img/thor.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-6:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/thor.jpg");
}
body .gallery #card-7 {
  background-image: url("../img/captain.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-7:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/captain.jpg");
}
body .gallery #card-8 {
  background-image: url("../img/doctor.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-8:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/doctor.jpg");
}
body .gallery #card-9 {
  background-image: url("../img/vision.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
body .gallery #card-9:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/vision.jpg");
}
body footer {
  text-align: center;
  padding-bottom: 2rem;
}
body footer span {
  font-weight: bold;
  color: #5E17EB;
}

/*# sourceMappingURL=style.css.map */
